.title {
  font-size: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &_text {
    color: $color-white;
  }

  &_button {
    background-color: $color-primary-dark;
    color: $color-white;
    font-size: 1.5rem;

    &:hover {
      color: $color-primary-dark;
      background-color: $color-white;
    }
  }
}
